@import url("https://use.typekit.net/pjb3lrg.css");

html,
body {
  background-color: #222;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: #eee;
  overflow-y: scroll;
}
:root {
  overflow-y: auto;
  overflow-x: hidden;
}
:root body {
  position: absolute;
}
body {
  width: 100vw;

  overflow: hidden;
}
h2 {
  font-family: "sofia-pro";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
